<div class="calculadora">

  <div class="display"><input class="input" [(ngModel)]="ecuacion" placeholder="0" disabled></div>
  <br>
  <div class="keys">
    <p>
      <button class="button gray" (click)="numero(7)">7</button>
      <button class="button gray" (click)="numero(8)">8</button>
      <button class="button gray" (click)="numero(9)">9</button>
      <button class="button pink" (click)="operacion('+')">+</button>
    </p>
    <p>
      <button class="button gray" (click)="numero(4)">4</button>
      <button class="button gray" (click)="numero(5)">5</button>
      <button class="button gray" (click)="numero(6)">6</button>
      <button class="button pink" (click)="operacion('-')">-</button>
    </p>
    <p>
      <button class="button gray" (click)="numero(1)">1</button>
      <button class="button gray" (click)="numero(2)">2</button>
      <button class="button gray" (click)="numero(3)">3</button>
      <button class="button pink" (click)="operacion('*')">x</button>
    </p>
    <p>
      <button class="button gray" (click)="numero(0)">0</button>
      <button class="button gray" (click)="limpiar()">C</button>
      <button class="button orange" (click)="resultado()">=</button>
      <button class="button pink" (click)="operacion('/')">/</button>
    </p>
  </div>
</div>
